<h2 mat-dialog-title>Dodaj nowy nawyk</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Wybierz nawyk domyślny</mat-label>
    <mat-select [(ngModel)]="selectedHabit" (selectionChange)="applyDefault($event.value)">
      <mat-option class="option-placeholder">Wybierz nawyk domyślny</mat-option>
      <mat-option *ngFor="let h of defaultHabits" [value]="h">
        <span class="option-content">
          <span>{{ h.name }}</span>
          <i class="{{ h.icon }}"></i>
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nazwa" [(ngModel)]="name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Cel" [(ngModel)]="goal" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Jednostka" [(ngModel)]="unit" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Anuluj</button>
  <button mat-button color="primary" (click)="save()">Zapisz</button>
</mat-dialog-actions>
