.habit-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-items: stretch;
  max-width: 1168px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .habit-list {
    grid-template-columns: 1fr 1fr;
  }
}
