<mat-card [style.background]="habit.color" class="habit-card">
  <div class="card-content">
    <mat-card-title> {{ habit.name }} {{ habit.icon }} </mat-card-title>
    <p class="target">{{ habit.progress }} / {{ habit.goal }} {{ habit.unit }}</p>
  </div>
  <mat-progress-bar [value]="(habit.progress / habit.goal) * 100"></mat-progress-bar>

  <div class="card-actions">
    <button mat-mini-fab color="primary" (click)="increment()">+</button>
    <button mat-mini-fab color="warn" (click)="decrement()">-</button>
    <button mat-mini-fab color="warn" (click)="delete()">🗑️</button>
    <button mat-mini-fab color="accent" (click)="openEditDialog()">✏️</button>
  </div>
</mat-card>
