<mat-card [style.background]="habit.color" class="habit-card">
  <div class="card-content">
    <mat-card-title> <i class="{{ habit.icon }}"></i> {{ habit.name }} </mat-card-title>
    <p class="target">{{ habit.progress }} / {{ habit.goal }} {{ habit.unit }}</p>
  </div>
  <mat-progress-bar [value]="(habit.progress / habit.goal) * 100"></mat-progress-bar>

  <div class="card-actions">
    <button mat-mini-fab color="primary" (click)="increment()">
      <i class="fas fa-solid fa-plus"></i>
    </button>
    <button mat-mini-fab color="warn" (click)="decrement()">
      <i class="fas fa-solid fa-minus"></i>
    </button>
    <button mat-mini-fab color="warn" (click)="delete()">
      <i class="fas fa-trash"></i>
    </button>
    <button mat-mini-fab color="accent" (click)="openEditDialog()">
      <i class="fas fa-edit"></i>
    </button>
  </div>
</mat-card>
